body {
    margin: 0;
}

.item {
    box-sizing: border-box;
    width: 25%;
    border: 4px solid red;
    background: orange;
    height: 400px;

    font-size: 40px;
    color: white;

    display: inline-block;
}
